<mat-toolbar class="secondary">
    <span>Asignacion de tareas</span>
    <span class="example-spacer"></span>
    <button mat-button *ngFor= "let item of menu" [routerLink]= "item.redirect">{{item.nombre}}</button>
    <!-- <button mat-button routerLink="/dashboard/usuarios" >Usuarios</button>
    <button mat-button routerLink="/dashboard/tareas" >Tareas</button> -->
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
      </button>

</mat-toolbar>